.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.answerStyle {
    padding-top: 5px;
    padding-bottom: 5px;
}

.mybottom {
    position: absolute;
    bottom: 0px;
    padding: 10px;
}