.no-left-padding {
    padding-left: 0;
}

.no-right-padding {
    padding-right: 0;
}

.answerStyle {
    padding-top: 5px;
    padding-bottom: 5px;
}

.positionOR {
    position: relative;
    bottom: -30px;
}

.positionNEWQUESTIONNAIRE {
    position: relative;
    bottom: -25px;
}

